*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Anek Latin', sans-serif;
  padding: 0;
}


.contenutto{
  background-image: url(background.jpg);
  background-size: cover;
  height: 100vh;
}

.quadrato{
width: 65%;
height: 80%;
background-color: rgba(10, 10, 10, 0.55);
margin: auto;
position: relative;
top: 5%;
border-radius: 2%;
}

.in-quadrato{
  padding: 7%;
}

/* START HEADER */
header{
  text-align: center;
  font-size: 150%;
  color: rgb(57,255,20);
}

#logo{
  display: block;
  margin: auto;
  width: 22%;
  height: 22%;
}

#tittolo-header{
  margin: 1%;
}

.quadrato-verde{
  background-color: rgb(57, 255, 20);
  padding: 1%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  margin-left: 0.6%;
  margin-right: 0.6%;
  padding: 0.3%;
}
/* END HEADER */

/* START MAIN */
main{
font-size: 130%;
color: white;
margin-top: 3%;
margin-left: 2.2%;
}

p{
  font-size: 75%;
}

.listitem{
  margin-top: 3%;
}

.carica{
  height: 30px;

  margin-top: 0.5%;
  border-radius: 4px;
}

#uno{
  background-color: rgb(255, 128, 0);
  width: 35%;
}

#due{
  background-color: rgb(57, 255, 20);
  border-radius: 4px;
  width: 70%;
}

#tre{
  background-color: yellow;
  width: 15%;
}
